<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.food-mapper">
  <select id="foodListData" resultType="FoodVO" parameterType="hashmap">
    <bind name="types" value="'%'+type+'%'"/>
    SELECT fno,name,poster,num
    FROM (SELECT fno,name,poster,rownum as num 
    FROM (SELECT fno,name,poster 
    FROM food_menu_house WHERE type LIKE #{types}))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="foodTotalPage" resultType="int" parameterType="string">
    SELECT CEIL(COUNT(*)/20.0)
    FROM food_menu_house
    WHERE type LIKE '%'||#{type}||'%'
  </select>
</mapper>