<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <!-- getConnection/disConnection 
      #{name} ${vo.name} vo.getName()
      = vo.getName
 -->
 <configuration>
 <!--(properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
 reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?)  -->
 <!-- 
      순서가 틀리면 오류남
      (properties, settings(임시로 기억할 수 있는 장소가 있음), typeAliases, environments, mappers 5개가 많이 쓰임
 -->
    <properties resource="db.properties"/> <!-- src/main/java가 디폴트 폴더라 경로명 생략가능 -->
    <typeAliases> <!-- vo등록 -->
      <typeAlias type="com.sist.dao.EmpVO" alias="EmpVO"/>
      <typeAlias type="com.sist.dao.DeptVO" alias="DeptVO"/>
    </typeAliases>
    <environments default="development"> <!-- 데이터베이스 정보 -->
      <environment id="development">
        <transactionManager type="JDBC"/>
          <!-- Commit/Rollback
               1. JDBC => AutoCommit
               2. MANAGE > 상황에 따라 관리자 처리
          -->
        <dataSource type="POOLED">
          <!-- DI 
               PooledDataSource pool=new PooledDataSource()
               pool.setDriver("oracle...")
               => SqlSessionFactory
                  => getConnection/disConnection생성
                  
          -->
          <property name="driver" value="${driver}"/>
          <property name="url" value="${url}"/>
          <property name="username" value="${username}"/>
          <property name="password" value="${password}"/>
        </dataSource>
      </environment>
    </environments>
    <mappers> <!-- sql문장의 위치 = include -->
      <mapper resource="com/sist/dao/emp-mapper.xml"/>
    </mappers>
 </configuration>