<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.goods-mapper">
<select id="goodsListData" resultType="GoodsVO" parameterType="hashmap">
    SELECT no,goods_name,goods_poster,num
	FROM (SELECT no,goods_name,goods_poster,rownum as num
	FROM (SELECT no,goods_name,goods_poster
	FROM ${tab_name} ORDER BY no ASC))
	WHERE num BETWEEN #{start} AND #{end}
  </select>
<select id="goodsTotalPage" resultType="int" parameterType="string">
    SELECT CEIL(COUNT(*)/20.0)
    FROM ${tab_name}
  </select>
<select id="goodsDetailData" resultType="GoodsVO" parameterType="hashmap">
    SELECT * FROM ${tab_name}
    WHERE no=#{no}
</select>
<select id="cartIsgoodsCount" resultType="int" parameterType="CartVO">
    SELECT COUNT(*) 
    FROM cart
    WHERE goods_no=#{goods_no} AND type=#{type} AND issale!=0
</select>
<update id="cartgoodsUpdate" parameterType="CartVO">
    UPDATE cart SET
    amount=amount+#{amount}
    WHERE goods_no=#{goods_no} AND type=#{type} AND id=#{id}
</update>
<insert id="cartgoodsInsert" parameterType="CartVO">
    INSERT INTO cart VALUES((SELECT NVL(MAX(cart_no+1),1) FROM cart),#{goods_no},#{type},#{amount},#{price},#{id},0,0,SYSDATE)
</insert>
<!-- mypageList(cart) -->
    <resultMap type="com.sist.vo.CartVO" id="cartMap">
       <result property="gvo.goods_poster" column="goods_poster"/>
       <result property="gvo.goods_name" column="goods_name"/>
       <result property="gvo.goods_price" column="goods_price"/>   
    </resultMap>
    <select id="mypageGoodsCartData" resultMap="cartMap" parameterType="hashmap">
       SELECT cart_no, goods_no, amount, regdate, issale, ischeck, price,
       (SELECT goods_poster FROM goods_all WHERE no=cart.goods_no) as goods_poster, 
       (SELECT goods_name FROM goods_all WHERE no=cart.goods_no) as goods_name, 
       (SELECT goods_price FROM goods_all WHERE no=cart.goods_no) as goods_price 
       FROM cart
       WHERE id=#{id} AND issale!=1 <!-- 구매가 안 된 것(0)만 가져옴 -->
       ORDER BY cart_no DESC
    </select>
    <insert id="goodsBuyInsert" parameterType="CartVO">
    INSERT INTO cart VALUES((SELECT NVL(MAX(cart_no+1),1) FROM cart),#{goods_no},#{type},#{amount},#{price},#{id},0,1,SYSDATE)
    </insert>
    <select id="mypageGoodsBuyData" resultMap="cartMap" parameterType="hashmap">
       SELECT cart_no, goods_no, amount, regdate, issale, ischeck, price,
       (SELECT goods_poster FROM goods_all WHERE no=cart.goods_no) as goods_poster, 
       (SELECT goods_name FROM goods_all WHERE no=cart.goods_no) as goods_name, 
       (SELECT goods_price FROM goods_all WHERE no=cart.goods_no) as goods_price 
       FROM cart
       WHERE id=#{id} AND issale=1 <!-- 구매가 안 된 것(0)만 가져옴 -->
       ORDER BY cart_no DESC
    </select>
    <delete id="cartDelete" parameterType="int">
       DELETE FROM cart
       WHERE cart_no=#{cart_no}
    </delete>
    <update id="goodsCartBuy" parameterType="int">
       UPDATE cart SET
       issale=1
       WHERE cart_no=#{cart_no}
    </update>
</mapper>